.itemsRowHome {
  padding: 15px;
  display: flex;
  overflow: scroll;
  gap: 15px;
}
.seemore {
  float: right;
}
.itemBox {
  width: 180px;
  height: 245px;
  background-color: white;
  padding: 10px;
  border-radius: 5%;
}

.itemBox .itemPrice {
  text-align: right;
}

.itemBox .itemImageHome {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5%;

}
.itemBox .itemTitleHome {
  text-align: center;
  margin: 3px;
}
.itemBox .itemType {
  font-size: small;
  text-align: center;
}

.itemBox .itemId {
  display: none;
}

.itemBox .fa {
  color: black;
  float: right;
  font-size: 24px;
}

.largeItemBoxHome {
  padding: 0;
  width: 190px;
  height: 360px;
  white-space: wrap;
}

.itemBox .itemPrice {
  margin-right: 10px;
}

.largeItemBoxHome .fa {
  margin-left: 10px;
  float: left;
}

.largeItemBoxHome .itemImageHome {
  border-radius: 5%;
  height: 235px;
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}