.item_box {
  height: 80%;
  top: 35px;
  margin: auto;
  padding: 40px;
  background-color: rgb(228, 226, 226);
  position: relative;
}

.photo_title {
  display: flex;
}

.details {
  padding-left: 40px;
}

.like {
  color: grey;
}

.dislike {
  color: #0d4b84;
}

.titleBar {
  background-color: #657e95;
  color: white;
  text-align: center;
}

.review {
  position: relative; 
  background-color: rgb(196, 196, 196); 
  margin: 10px; 
  padding-left: 10px;
}
.reviewUser {
  font-size:16px; 
  font-weight: bolder;
}
.reviewTrash {
  float: right; 
  padding: 10px;
}
.reviewThumb {
  position: absolute; 
  bottom:10px; 
  right: 10px;
}
#reviewTextArea, .review .reviewText,
.reviewLikes,
.reviewUser,
.reviewRating {
  display: inline-block;
}
.review .reviewText {
  width: 80%;
}
.review .reviewUser {
  font-size: x-large;
}
.review .fa-trash{
  margin-left: 5%;
}

.textboxReview {
  width: 100%;
}

.buttonReview {
  float: right;
}