.itemsRow {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.itemsRowHome {
  padding: 15px;
  display: flex;
  overflow: scroll;
  gap: 15px;
}
.seemore {
  float: right;
}
.itemBox {
  width: 180px;
  height: 255px;
  background-color: white;
  padding: 10px;
  border-radius: 5%;
  text-align: center;
}

.itemBox .itemPrice {
  text-align: right;
}

.itemBox .itemTitle {
  color: black;
}
.itemBox a {
  text-decoration: none;
}
.itemBox a:hover {
  text-decoration: underline;
}

.itemImage {
  width: 150px;
  height: 150px;
}
.itemPageImg {
  width: 150px;
}
.itemBox .itemTitleHome {
  text-align: center;
  margin: 3px;
  color: black;
}
.itemBox .itemType {
  font-size: small;
  text-align: center;
}

.itemBox .itemId {
  display: none;
}

.reviewId {
  display: none;
}

.itemBox .fa {
  color: black;
  float: left;
  font-size: 24px;
}

.largeItemBoxHome {
  padding: 0;
  width: 160px;
  height: 370px;
  white-space: wrap;
}

.itemBox .itemPrice {
  margin-right: 10px;
}

.largeItemBoxHome .fa {
  margin-left: 10px;
  float: left;
}

.largeItemBoxHome .itemImage {
  height: 235px;
  width: 160px;
}
