.item_box {
  height: 80%;
  top: 35px;
  margin: auto;
  padding: 40px;
  background-color: rgb(228, 226, 226);
  position: relative;
}

.photo_title {
  display: flex;
}

.details {
  padding-left: 40px;
}

.like {
  color: grey;
}

.dislike {
  color: #0d4b84;
}

.titleBar {
  background-color: #657e95; 
  color: white; 
  text-align: center;
}