

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<div>
  <h1>Register</h1>

  <form action="/register" method="POST">
  <hr>
  
  <label for="username"><i class="icon-user"></i> Username</label>
  <input type="text" id="username" name="username" placeholder="username">
  <br><br>
  <label for="password"><i class="icon-shield"></i> Password</label>
  <input type="password" id="password" name="password" placeholder="password">  
  <br><br>
  <label for="phone"><i class="icon-phone"></i> Phone</label>
  <input type="text" name="phone" id="phone" placeholder="phone">
  <br><br>
  <label for="telephone"><i class="icon-envelope"></i> Email</label>
  <input type="text" name="email" id="email" placeholder="email">
  <br><br>

  <button class="button">Register</button>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
  </ul>
  </form>
</div>