<footer>
    <p id="userUsername" class="<%=username%>"></p>
    <div id="footerTitle">
        <h2>Play Store</h2>
    </div>
    <p><a href="#">About</a></p>
    <p><a href="#">Terms Of Service</a></p>
    <img id="countryFlag" src="" alt="Flag">
    <p id="country"></p>

</footer>