<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Play Store</title>
    <%- include('headImports')%>
</head>

<body>
    <%- include('navbar')%>
        <ul>
            <% for (var i=0;i<games.length;i++) {%>
                <li>
                    <%=games[i]%>
                </li>
                <%}%>
        </ul>

        <div id="content">

        </div>
        <%- include('footer')%>
</body>

</html>