<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Play Store</title>
    <%- include('headImports')%>
</head>

<body>
    <%- include('navbar')%>
    <h1 class="page_title">HOME</h1>
    <%- include('footer')%>

</body>

</html>