<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="js/index.js"></script>
    <title>Play Store</title>
    <%- include('cssImports')%>
</head>

<body>
    <%- include('navbar')%>
        <ul>
            <% for (var i=0;i<movies.length;i++) {%>
                <li>
                    <%=movies[i]%>
                </li>
                <%}%>
        </ul>

        <div id="content">

        </div>
</body>

</html>