<nav>
    <a href="#" id="sidebarIconAnchor"><img id="sidebarIcon" src="/../media/sidebarIcon.png" alt="sidebarIcon"></a>
    <img id="logo" src="/../media/logo_transparent_big.png" alt="logo"></img>
    <a id="navTitleLink" href="/">
        <h1 id="navTitle">Play Store</h1>
    </a>
    <input id="navSearch" placeholder="Search..." pattern=".{3,}" title="At least 3 characters" type="text">
    <img id="pp" src="" alt="profile pic">
    <button class="navButtons" id="logoutNavButton"><a href="/logout">Logout</a></button>
    <button class="navButtons" id="signupNavButton">Sign Up</button>
    <button class="navButtons" id="loginNavButton">Login</button>
</nav>

<div id="sidebar" class="sidenav">
    <a href="#" class="closebtn" id="sidebarCloseButton">&times;</a>
    <a href="/">Home</a>
    <a href="/applications">Applications</a>
    <a href="/games">Games</a>
    <a href="/movies">Movies</a>
    <a href="/books">Books</a>
    <br>
</div>
<div id="userFormDiv">
    <a href="#" id="closeModal">&times;</a>
    <h1>Play Store</h1>
    <img src="/../media/logo_transparent_big.png" alt="logo">
    <div id="forgotPasswordDiv">
        <strong>
            <p>A new password willl be sent to this address</p>
        </strong>
        <form action="/forgot" method="POST" id="forgotUserForm">
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="submit" value="Send me an Email" id="forgotUserFormButton">
        </form>
    </div>
    <div id="registerLoginDiv">
        <form id="userForm" method="POST">
            <label for="username">Username</label><br>
            <input id="username" placeholder="Username" type="text" name="username"><br>
            <label for="password">Password</label><br>
            <input id="password" placeholder="Password" type="password" name="password"><br>
            <div id="loginExtrasDiv">
                <input type="checkbox" checked id="remembermeCheck">
                <label for="remembermeCheck">Remember Me</label>
                <a href="#" id="forgotPassword">Forgot Password?</a>
            </div>
            <div id="RegisterExtrasDiv">
                <label for="email">Email</label><br>
                <input id="email" placeholder="Email" type="text" name="email"><br>
            </div>
            <button id="userFormButton"></button>
        </form>
    </div>
</div>
<div id="userFormDiv">
    <h1>Play Store</h1>
    <img src="/../media/logo_transparent_big.png" alt="logo">
    <strong>
        <p>We will send a new password to your email address</p>
    </strong>
    <form action="/forgot" method="POST" id="userForm">
        <input type="text" id="email" name="email" placeholder="Email"><br>
        <input type="submit" value="Send me an Email" id="userFormButton">
    </form>
</div>

<div id="content">
    <div class="dropdown">
        <button class="dropbtn">Choose Currency</button>
        <div class="dropdown-content">
            <a id="USD" href="#">
                <img src="/../media/currency/united-states.png" width="15" height="15"> USD
            </a>
            <a id="LBP" href="#">
                <img src="/../media/currency/lebanon.png" width="15" height="15"> LBP
            </a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Filter By</button>
        <div class="dropdown-content">
            <a href="#">
                <img src="/../media/filter/genre.png" width="15" height="15"> Genre
            </a>
            <a href="#">
                <img src="/../media/filter/topselling.png" width="15" height="15"> Top Selling
            </a>
            <a href="#">
                <img src="/../media/filter/newreleases.png" width="15" height="15"> New Releases
            </a>
            <a href="#">
                <img src="/../media/filter/gooddeals.png" width="15" height="15"> Good Deals
            </a>
        </div>
    </div>
    <% if (username) { %>
        <div id="wishlistDiv" class="dropdown">
            <a href="/user/<%=username%>/wishlist">
                <button class="dropbtn">Wishlist</button>
            </a>
        </div>

        <div id="lastVisitedDiv" class="dropdown">
            <a href="/user/<%=username%>/last24VisitedItems">
                <button class="dropbtn">Last Visited</button>
            </a>
        </div>
        <% } %>

</div>