<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Play Store</title>
    <%- include('headImports')%>
</head>

<body>
    <%- include('navbar')%>
        <div id="content">
            <ul>
                <% for (var i=0;i<wishlist.length;i++) {%>
                    <li>
                        <%=wishlist[i]%>
                    </li>
                    <%}%>
            </ul>
        </div>
        <%- include('footer')%>
</body>

</html>